body {
  background: #136a8a;  
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  
  background: linear-gradient(to right, #267871, #136a8a); 
  color: white;
}

ul.listnav {
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.listitems {
    font-family: sans-serif;
    float: left;
}

li a.listlink {
    font-family: Arial;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.listlink:hover {
    background-color: #111;
}

body {
  font-family: sans-serif;
}
