/* universal */

body {
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);

  color: white;
}

ul.listnav {
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.listitems {
    font-family: sans-serif;
    float: left;
}

li a.listlink {
    font-family: Arial;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.listlink:hover {
    background-color: #111;
}

body {
  font-family: sans-serif;
}

a.link:hover {
  color: red;
}

img.border {
  border: 2px solid black
}

h2#headercolor {
  color: #D3D3D3;
}

/* index.html */

.introbullets li {
  font-style: italic;
}

h2.underline {
  text-decoration: underline;
}

h3.underline {
  text-decoration: underline;
}

p#chessintro {
  font-style: italic;
}

img#chesspieces {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid black
}

/* famous players.html */

h2#famousplayers {
  font-weight: bold;
  color: #D3D3D3;
}

h2.underline {
  text-decoration: underline;
}

p#famousintro {
  font-style: italic;
}

th.tableheader {
  font-weight: bold;
  font-style: italic;
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

img#fischer {
  height: 150px;
  width: 250px;
}

img#kasparov {
  height: 150px;
  width: 250px;
}

img#lasker {
  height: 300px;
  width: 250px;
}

/* howtoplay.html */

.howtoplaydiv h3, h4 {
  text-decoration: underline;
}

h2.underline {
  text-decoration: underline;
}

img#setup {
  height: 200px;
  width: 300px
}

img#notation {
  height: 395px;
  width: 400px;
}

img.howtoplay {
  height: 350px;
  width: 350px
}

/* getinvolved.html */

.getinvolveddiv h3 {
  text-decoration: underline;
}

p#getinvolvedintro {
  font-size: 16px;
  font-style: italic;
}

h2.underline {
  text-decoration: underline;
}

img#chessclub {
  height: 320px;
  width: 480px;
}

img#chesstournament {
  height: 320px;
  width: 600px;
}

img#chessbook {
  height: 260px;
  width: 460px;
}

img#onlinechess {
  height: 225px;
  width: 300px;
}
